<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer>
        const userGoogleId = '<%= googleId %>'
    </script>
    <script defer src="socket.io/socket.io.js"></script>
    <script defer src="index.js"></script>
    <title>Room</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body class="d-flex align-items-center vh-100">
    <div class="bg-bg-2 container d-flex flex-column justify-content-between rounded h-75 containermain">
        <div class="d-flex justify-content-between align-items-center p-3">
            <h3 class="text-prime">Flashcord <i class="bi bi-lightning-charge"></i></h2>
            <a href="/" class="btn btn-second"><i class="bi bi-caret-left"></i>Back</a>
        </div>

        <div class="row flex-fill">
            <div class="container col-4 bg-bg-4 p-3 h-100">
                <h5 class="text-second"><i class="bi bi-door-closed text-prime"></i> Room</h5>
                <h6 class="text-second p-3 border-bottom border-bg-2"><%= room.name %></h6>
                <h5 class="text-second pt-2"><i class="bi bi-person text-prime"></i> Online</h5>
                <div id="users-container" class="p-2 scroll"></div>
            </div>
            <div id="messages-container" class="bg-bg-3 container col-8 scroll-messages">
                <% messages.forEach( message => { %>
                    <div class="message">
                        <div>
                            <p><%= message.username %> </p>
                            <p><%= message.time %> </p>
                        </div>
                        <b><%= message.text %> </b>
                    </div>
                <% }) %> 
            </div>
        </div>

        <div class="container p-4">
            <form action="" id="message-form">
                <div class="input-group">
                    <input id="message-input" type="text" class="form-control text-second" placeholder="Write message..">
                <button id="message-button" type="submit" class="btn btn-second input-group-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>